#box {
  width: 500px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.background {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 805px;
    background-color: white;
}

body{
    background-image: url(../images/Background.jpg);
	background-repeat: repeat;
    background-size: 100px;
}
